In [2]:
import pandas as pd

In [3]:
df_fields = pd.read_csv('../data/fields.csv', encoding='cp1251', delimiter=';', decimal=',', skiprows=[0, 2])
df_value = pd.read_csv('../data/value.csv', encoding='cp1251', delimiter=';', decimal=',', skiprows=[0, 1], parse_dates=['inv_item_date'], date_format={'inv_item_date': '%d.%m.%Y'})
df_works = pd.read_csv('../data/works.csv', encoding='cp1251', delimiter=';', decimal=',', skiprows=[0, 1], parse_dates=['start_date', 'end_date'], date_format={'start_date': '%d.%m.%Y', 'end_date': '%d.%m.%Y'})

df_works['area'] = df_works['area'].str.replace(',', '.').astype(float)

### df fertilizers

In [16]:
df_works['work_type'].unique()

array(['Обработка почвы', 'Внесение СЗР', 'Внесение удобрений', 'Сев',
       'Уборка'], dtype=object)

In [21]:
df_works['work_subtype'].unique()

array(['Боронование', 'Дискование', 'Вспашка', 'Обработка СЗР',
       'Культивация', 'Внесение СЗР и удобрений', 'Прикатывание',
       'Внесение органических удобрений',
       'Внесение жидких органических удобрений',
       'Внесение минеральных удобрений', 'Сев с внесением удобрений',
       'Глубокорыхление', 'Сев без внесения удобрений', 'Мульчирование',
       'Уборка трав', 'Дератизация', 'Прессование', 'Уборка камней',
       'Сгребание в валки', 'Вывоз', 'Кошение', 'Подбор (корм)',
       'Междурядная обработка без внесения', 'Ворошение',
       'Уборка силос/карнаж', 'Подбор', 'Заготовка сенажа',
       'Подбор и обмолот', 'Прямое комбайнирование',
       'Вывоз (тех.культуры)', 'Копка'], dtype=object)

In [27]:
df_works.head(1)

,season,field,work_type,work_subtype,start_date,end_date,area,main_tech,add_tech,mech,proc_depth,prod_purpose,prod_weight,prod_dry_perc,prod_humid,prod_impur,yield_fact,work_id
0,2023,16.13.12.044.00,Обработка почвы,Боронование,2022-04-29,2022-04-30,49.78,"Трактор колесный Fendt 936 Vario, гос.ном. 050...",Арендованная техника,Ахметсафин Айрат Рафикович,10.0,NaN,0.0,NaN,NaN,NaN,0.0,A06AD38A-5448-40EC-B095-4B8918B4AC10

In [67]:
df_works_tmp = df_works.query("work_type in ['Внесение СЗР', 'Внесение удобрений']")[['work_id', 'season', 'field', 'work_type']]

df_works_tmp.head(10)

,work_id,season,field,work_type
15,D6C06921-9C0A-4C67-9EA2-56125F0E2F2B,2023,16.13.12.017.00,Внесение СЗР
63,A6744CF5-4AE9-42B6-848B-ED9BB080B8B0,2023,16.13.12.059.00,Внесение СЗР
64,9F552625-E91C-4B3F-ABB4-5E565D4A7687,2023,16.13.12.066.00,Внесение СЗР
65,EB59990D-0C80-4894-9EE6-03FC89F4A8C5,2023,16.13.12.068.00,Внесение СЗР
66,AB7177FA-F620-48E4-856F-D1424F119416,2023,16.13.12.069.00,Внесение СЗР
67,B2D148E8-FA5E-40A4-8835-07B276980913,2023,16.13.12.071.00,Внесение СЗР
87,151E2624-52C1-4BFB-A57E-FC467F31D6AD,2023,16.13.12.066.00,Внесение СЗР
88,D906EFC3-B65F-49CA-A440-59E654248FD1,2023,16.13.12.067.00,Внесение СЗР
89,60F20A24-2EC7-45D0-914D-1FA4F173BCFE,2023,16.13.12.068.00,Внесение СЗР
90,B6698AB7-3ECD-4466-8965-72CAECD91ACD,2023,16.13.19.033.00,Внесение СЗР

In [68]:
df_value_tmp = df_value[df_value['inv_item_type'] == 'Удобрения']

df_value_tmp.head()

,field,inv_item_type,inv_item_name,inv_item_weight,inv_item_unit,inv_item_dose,inv_item_date,work_id
0,36.01.21.025.01,Удобрения,Удобрение 31,15017.6,кг,260.0,2024-10-28,E3A7DAEB-D124-4685-ADE1-199818C77361
1,36.14.12.064.00,Удобрения,Удобрение 31,6500.0,м3,65.0,2024-10-28,0AB8C8D7-04BD-4483-98B2-3E062CDD7E3E
2,36.14.16.008.00,Удобрения,Удобрение 49,7865.0,т,65.0,2024-10-28,00E51F81-0A4F-4983-B068-877A089FFD33
3,36.14.16.008.00,Удобрения,Удобрение 49,10985.0,т,65.0,2024-10-28,150F0150-8061-4CE9-9570-B112CBAD7C51
4,36.14.16.008.00,Удобрения,Удобрение 49,10985.0,т,65.0,2024-10-28,D5D1EADB-D159-4CF8-8C2A-171517ACD403

In [100]:
df_tmp = df_works_tmp.merge(df_value_tmp, how='left', on=['field', 'work_id']).dropna().drop('work_id', axis=1)

df_tmp.head()

,season,field,work_type,inv_item_type,inv_item_name,inv_item_weight,inv_item_unit,inv_item_dose,inv_item_date
1,2023,16.13.12.059.00,Внесение СЗР,Удобрения,Удобрение 38,4744.34,кг,0.39,2022-06-23
2,2023,16.13.12.066.00,Внесение СЗР,Удобрения,Удобрение 38,3159.00,кг,0.39,2022-06-23
3,2023,16.13.12.068.00,Внесение СЗР,Удобрения,Удобрение 38,2951.91,кг,0.39,2022-06-23
4,2023,16.13.12.069.00,Внесение СЗР,Удобрения,Удобрение 38,711.08,кг,0.39,2022-06-23
5,2023,16.13.12.071.00,Внесение СЗР,Удобрения,Удобрение 38,503.38,кг,0.39,2022-06-23

In [101]:
df_yield_fact = df_works[df_works['work_type'] == 'Уборка'][['season', 'field', 'yield_fact']]
df_yield_fact = df_yield_fact.groupby(by=['field', 'season'], group_keys=True).mean().reset_index()

df_yield_fact.head()

             field  season  yield_fact
0  02.09.02.002.01    2023    1.567500
1  02.09.02.002.01    2024    0.000000
2  02.09.02.010.00    2024    0.000000
3  02.09.02.015.00    2023    1.228750
4  02.09.02.019.00    2023    0.716667

In [ ]:
df_fertilizers = df_tmp.merge(df_yield_fact, how='left', on=['field', 'season']).drop(['work_type', 'inv_item_type'], axis=1)
df_fertilizers = df_fertilizers.sort_values(by=['field', 'season'])
df_fertilizers.head()

,season,field,inv_item_name,inv_item_weight,inv_item_unit,inv_item_dose,inv_item_date,yield_fact
3253,2023,02.09.02.002.01,Удобрение 57,1879808.13,кг,130.0,2023-04-25,1.56750
16239,2024,02.09.02.003.00,Удобрение 12,1095063.89,кг,130.0,2024-05-02,NaN
16240,2024,02.09.02.013.00,Удобрение 12,81640.47,кг,130.0,2024-05-02,NaN
3254,2023,02.09.02.015.00,Удобрение 57,171677.43,кг,130.0,2023-04-25,1.22875
19032,2024,02.09.02.015.00,Удобрение 23,1716.77,л,1.3,2024-06-20,NaN

In [ ]:
df_fertilizers.shape

(20387, 8)

In [ ]:
df_fertilizers.isna().sum()

season                0
field                 0
inv_item_name         0
inv_item_weight       0
inv_item_unit         0
inv_item_dose         0
inv_item_date         0
yield_fact         2933
dtype: int64

In [ ]:
df_fertilizers.to_csv('fertilizers.csv')